{% extends 'base.html' %}

{% block title %}PROFILE SETTINGS{% endblock %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <!-- SCROLL TOP BUTTON -->
        <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
        <!-- END SCROLL TOP BUTTON -->


        <!-- Start Property header  -->
        <section id="aa-property-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-property-header-inner">
                            <h2>Profile Settings</h2>
                            <ol class="breadcrumb">
                                <li>
                                    {% url 'public:index' as index_url %}{% if request.path == index_url %}{% else %}<a
                                        href="{{ index_url }}">HOME</a>{% endif %}</span></a>
                                </li>
                                {% if user.is_active %}
                                <li>
                                    <span><a href="{% url 'accounts:profile' %}">Back To Profile</a></span>
                                </li> {% endif %}

                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Property header  -->



        <section id="aa-signin">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="aa-signin-area">
                            <div class="aa-signin-form">
                                <div class="aa-signin-form-title">
                                    <h1>Profile Settings</h1>
                                    {% with profile=user.profile %}
                                    {% if profile %}




                                    {% if form.is_multipart %}
                                    <div class="profile-pic" id="profile-pic">
                                        <img src="{{ profile.profile_pic.url }}" alt="Profile Picture"
                                            id="profile-pic-img">
                                    </div>
                                </div>

                                <br>

                                <form method="POST" action="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="aa-single-field">{{form.as_p}}</div>


                                    {% endif %}

                                    {% endif %}
                                    {% endwith%}
                                    <div class="aa-single-submit">
                                        <input type="submit" value="Update Profile" class="aa-browse-btn" name="submit">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </body>

</html>





{% endblock%}