{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Earmark Investment | Register</title>



  </head>

  <body>
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->


    <!-- Start Property header  -->
    <section id="aa-property-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-property-header-inner">
              <h2>Registration Page</h2>
              <ol class="breadcrumb">
                <li>
                  {% url 'public:index' as index_url %}{% if request.path == index_url %}{% else %}<a
                    href="{{ index_url }}">HOME</a>{% endif %}</span></a>
                </li>
                <li class="active">Register</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Property header  -->

    <section id="aa-signin">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-signin-area">
              <div class="aa-signin-form">
                <div class="aa-signin-form-title">

                  <h4>Create your account and Stay with us</h4>
                  <h4> {{ form.errors}} </h4>
                </div>


                <!-- FORM  -->
                <form method="POST" action="">
                  {% csrf_token %}

                  <div class="aa-single-field">
                    <span class="fa fa-user"></span>
                    <label>Account Type</label>
                    <br>
                    {{form.group}}
                  </div>

                  <div class="aa-single-field">
                    <span class="fa fa-user"></span>
                    {{form.first_name.label}}
                    {{form.first_name}}
                  </div>

                  <div class="aa-single-field">
                    <span class="fa fa-user"></span>
                    {{form.last_name.label}}
                    {{form.last_name}}
                  </div>

                  <div class="aa-single-field">
                    <span class="fa fa-envelope"></span>
                    {{form.email.label}}
                    {{form.email}}
                  </div>
                  <div class="aa-single-field">
                    <span class="fa fa-user"></span>
                    {{form.username.label}}
                    {{form.username}}
                  </div>

                  <div class="aa-single-field">
                    <span class="fa fa-key"></span>
                    {{form.password1.label}}
                    {{form.password1}}
                  </div>
                  <div class="aa-single-field">
                    <span class="fa fa-key"></span>
                    {{form.password2.label}}
                    {{form.password2}}
                  </div>


                  <div class="aa-single-submit">
                    <input type="submit" value="Create Account" class="aa-browse-btn" name="submit">
                    <h3>Already Have an Account? <span><a href="{% url 'accounts:login' %}"
                          style="text-decoration:underline;">LOGIN
                          NOW</a></span></h3>
                  </div>

              </div>


              </form>

              <!-- FORM ENDS  -->
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>




  </body>

</html>
{% endblock %}